#border{
    
    border: 1px solid white;
    margin:35px;
    padding: 1px 80 1 80;
}


.item1{
   /* grid-column: 100%;*/
    background-color:#5bafc1;
    margin: 0 450 0 450;
    font-family:sans-serif;
    
}

.item2{
   /* grid-column: 100%;*/
    margin: 15 120 0 580;
    padding: 15px 0 0 0;
    background-color:#f9f9f9;
    font-family:sans-serif;
}
.item3{
   /* grid-column: 100%;*/
    background-color:white;
    margin: 0 500 0 -120;
    padding-left: 15;
    padding-right: 15;
    font-family:sans-serif;
    
}
.work{
    padding: 0 0 0 200;
    margin: -115 0 0 0;
    border-bottom: 1px solid grey;
}
.ed{
    padding: 0 0 0 200;
    margin: -115 0 0 0;
    border-bottom: 1px solid grey;
}
#bio{
    border-bottom: 1px solid grey;
}
#fader{
    text-align: center;
}
ul{
    display: block;
}
ul li{
    float: left;
    width: 50%;
}

.border{
    border-bottom: 2px solid black;
    margin: 0 15 0 15;
}
.social{
    margin: 0 15 0 15;
}
.info{
    
    padding-bottom: 20;
}
.info2{
    padding: 0 0 0 40px;
    margin: -132 0 50 0;
}
.info3{
    padding: 0 0 0 40px;
    margin: -111 0 0 0;
}

#phone{
    //padding: 12px;
}
img{
   
    border-radius: 100px;
    border: 1px solid white;
    
}

.content{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.flex-container{
    display:flex;
    text-align: center;
    justify-content: center; 
}